* {
    font-family: 'Lato', sans-serif;
}

.bg-primary-color {
    background-color: #fff;
}

.bg-secondary-color {
    background-color: #ece8ea;
}

.ba-dark-color {
    background-color: #1B2530;
}

.primary-color {
    color: #050505;
}

.secondary-color {
    color: #7a7a7a;
}
/* NAVBAR ===============================================================================*/
#navbar {
    border-bottom: 1px solid #7a7a7a;
}

#navbar a {
    color: #050505;
}

#navbar a:hover {
    color: #791555;
}

#navbar .active {
    border-bottom: 1px solid #791555;
    color: #791555;
}

.navbar-brand {
    display: flex;
}

.navbar-brand img {
    width: 140px;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item {
    margin: 0 1em;
}

/* Estilo do botão "Agende Agora" na navbar */
#navbar .btn-cta {
    background-color: #791555; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: 2px solid transparent; /* Borda padrão transparente */
    padding: 0.50em 2em; /* Espaçamento interno do botão */
    text-transform: uppercase; /* Transformar texto em maiúsculas */
    border-radius: 10px; /* Bordas arredondadas */
    transition: background-color 0.6s cubic-bezier(0.4, 0, 0.2, 1), color 0.6s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.6s cubic-bezier(0.4, 0, 0.2, 1); /* Transição mais suave */

}

#navbar .btn-cta:hover {
    background-color: #ffffff; /* Cor de fundo do botão ao passar o mouse */
    color: #791555; /* Cor do texto ao passar o mouse */
    border-color: #791555; /* Cor da borda ao passar o mouse (mesma cor do texto) */
}

@media (max-width: 991.98px) {
    #navbar-items {
        flex-direction: column;
        align-items: flex-start; /* Alinha itens do menu à esquerda */
    }

    #navbar-items .navbar-nav {
        flex-direction: column;
        align-items: flex-start; /* Alinha itens do menu à esquerda */
        margin-bottom: 1em;
        width: 100%; /* Garante que a largura dos itens do menu ocupe 100% do container */
    }

    #navbar-items .nav-item {
        margin: 0.5em 0; /* Ajusta o espaçamento para o menu em tela pequena */
    }

    .navbar-brand {
        margin-bottom: 1em; /* Espaçamento entre o logo e o menu em telas pequenas */
    }

    .btn-cta {
        margin-top: 1em; /* Espaçamento acima do botão em telas pequenas */
        align-self: flex-start; /* Alinha o botão à esquerda */
    }
}

/* CSS referente ao conteudo do formulario =================================================================================*/
#section-1 {
    margin-top: 7em;
    background-color: #1B2530; /* Cor de fundo da sessão */
    color: #1B2530; /* Cor do texto */
}

.headline {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 0.5em;
    font-weight: regular;
}

.highlight {
    color: #BB9B37; /* Cor da palavra específica */
    font-weight: bold; /* Deixar a palavra em negrito */
    transition: color 0.3s ease; /* Transição suave para a cor */
}

.subheadline {
    font-size: 1.3em;
    color: #fff;
    margin-bottom: 2em;
}



/* Efeito de Transição */
#section-1 h1 {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.5s ease-in-out;
}

#section-1.visible h1 {
    opacity: 1;
    transform: translateY(0);
}




/* FOOTER ================================================================================================================ */
#footer {
    background-color: #ece8ea; /* Cor de fundo do footer */
    color: #1B2530; /* Cor do texto no footer */
    padding: 2em 0; /* Espaçamento interno do footer */
    border: none; /* Remove bordas do footer */
}

#footer h4 {
    color: #1B2530; /* Cor dos títulos no footer */
    margin-bottom: 1em; /* Espaçamento abaixo dos títulos */
}

#footer .secondary-color {
    color: #1B2530; /* Cor secundária no footer */
}

#footer .btn-dark {
    background-color: #791555; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    padding: 0.75em 2em; /* Dimensões do botão */
    font-size: 1em; /* Tamanho da fonte do botão */
    border-radius: 10px; /* Arredonda os cantos do botão */
    transition: all 0.3s ease; /* Transições suaves para cor de fundo e do texto */
}

#footer .btn-dark:hover {
    background-color: #fff; /* Cor de fundo do botão ao passar o mouse */
    color: #791555; /* Cor do texto ao passar o mouse */
    border: 1px solid #791555; /* Borda do botão ao passar o mouse */
}

#footer #footer-details {
    margin-bottom: 2em; /* Espaço abaixo do conteúdo principal do footer */
}

#footer #footer-bottom {
    border: none; /* Remove qualquer borda no rodapé inferior */
    padding-top: 1em; /* Espaço acima do rodapé inferior */
}

#footer #footer-bottom p {
    margin: 0; /* Remove a margem do parágrafo no rodapé inferior */
}
